.offers {
    width: 95vw;
    height: 50vh;
    display: flex;
    margin: 50px 0px;
    padding: 0px 100px;
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h4 {
    color: #171717;
    font-size: 47px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: green;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.offers-right img {
    width: 250px;
    height: 55vh;
}